body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    background: #1B244A;
    margin: auto;
}

h3 {
    font-family: Verdana, Tahoma, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 68px;
    color: #EEEEEE ;
    font-weight: 700;
}

h2 {
    color: #F94F6D;
    background: #080001;    
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    margin: 20px;
    line-height: 130px;
    width: 155px;
    height: 120px;
    font-weight: 400;
}

button {
    font-family: Cursed Timer ULiL;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    width: 45px;
    height: 45px;
    background: none;
    border-spacing: 9px;
    font-weight: 400;
}    

button:hover {
    border: 2px solid green;
}